!!!
%html
  %head
    %link{:href=>"screen.css", :media=>"screen, projection", :rel=>"stylesheet", :type=>"text/css"}

  %body
    
    .wrapper
    
      .card
        %h1.who Alexander Hanhikoski

        %p.what Developer &amp; Entrepreneur

        %hr
      
        %ul.links
          %li 
            %a{:href=>"https://github.com/alexhanh/cv/raw/master/cv.pdf"} CV
          %li 
            %a{:href=>"http://git.io/alexhanh"} Github
          %li
            %a{:href=>"https://twitter.com/alexhanh"} Twitter
          %li
            %a{:href=>"mailto:alexhanh@gmail.com"} Email
          
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33902268-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();